/* 中底层内容css */
.register-body{
	background-image: url(../../img/aliyun_register/backgoround-image.jpg);
	background-size: 100%;
}
.register-body-middle{
	max-width: 1200px;
	height: 700px;
	padding: 60px 0 0px;
	margin: auto;
/* 	background-color: #00FFFF; */
}
.register-body-leftinfo{
	width: 600px;
	height: 100%;
	float: left;
/* 	background-color: white; */
}
.register-body-leftinfo-a1{
	width: 600px;
	height: 68%;
	float: left;
	text-decoration: none;
	padding-top: 100px;
}
.left-main-title{
	display: block;
	text-align: left;
	line-height: 40px;
	font-size: 28px;
	color: #181818;
	letter-spacing: 0;
	margin-bottom: 20px;
	transition: all .3s;
}
.left-sub-title{
	text-align: left;
	line-height: 30px;
	font-size: 16px;
	color: #999;
	letter-spacing: .53px;
	display: block;
}
.register-body-rightinfo{
	    width: 600px;
	    height: 83%;
	    float: left;
/* 	    background-color: #cbb8b8; */
		box-shadow: 0 2px 15px rgba(0,0,0,.15);
}
.register-body-rightinfo-main-title{
	text-align: center;
	cursor: pointer;
	line-height: 50px;
	width: 49.8%;
	float: left;
	display: inline-block;
	height: 52px;
	border-bottom: 3px solid #ff6a00;
	border-right: 1px solid #d8d8d8;
	background-color:white;
}
.register-body-rightinfo-main-title div{
	display: inline-block;
}
.register-body-rightinfo-sub-title{
	text-align: center;
	cursor: pointer;
	line-height: 50px;
	width: 50%;
	float: left;
	display: inline-block;
	height: 52px;
	border-bottom: 3px solid #ff6a00;
	border-bottom: 1px solid #d8d8d8;
	background-color: white;	
}
.register-body-rightinfo-sub-title div{
	display: inline-block;
}
.register-body-rightinfo-main-title div:nth-of-type(1){
	color: #ff6a00;
}
.register-body-rightinfo-main-title div:nth-of-type(2){
	    margin-left: 12px;
}
.register-body-rightinfo-sub-title div:nth-of-type(1){
	color: #ff6a00;
}
.register-body-rightinfo-sub-title div:nth-of-type(2){
	    margin-left: 12px;
}
.register-body-rightinfo-sweep{
	padding-top: 124px;
	text-align: center;
	color: #999;
	font-size: 14px;
	line-height: 30px;
}
.register-body-rightinfo-sweep img{
	margin-top: 20px;
}
.register-body-rightinfo-sweep div:nth-of-type(3){
	margin-top: 100px;
	font-size: 14px;
	color: #1890ff;
}
.register-body-rightinfo-sweep a{
	text-decoration: none;
	color: #1890ff;
}
.register-body-rightinfo-otherways-icon img{
	width: 20px;
	height: 20px;
}
.register-body-rightinfo-RAN a{
	text-decoration: none;
	color: #1890ff;
}
.register-body-rightinfo-other{
	border-top: 1px solid #d8d8d8;
	margin-top: 20px;
	height: 40px;
}
.register-body-rightinfo-otherways{
	text-align: center;
	width: 50%;
	float:left ;
	display: inline-block;
	height: 40px;
	border-right: 1px solid #d8d8d8;
}
.register-body-rightinfo-otherways-text{
	line-height: 40px;
	color: #999;
	font-size: 14px;
	display: inline-block;
}
.register-body-rightinfo-otherways-icon{
	display: inline-block;
	line-height: 40px;
	vertical-align: sub;
}
.register-body-rightinfo-otherways-icon a{
	display: inline-block;
	text-decoration: none;
	margin-right: 8px;
}
.register-body-rightinfo-RAN{
	text-align: center;
	width: 49.8%;
	float: left;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	display: inline-block;
}