html{
    font-size: 37.5px;

}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.top_nav{
    height: 50px;
    background-color: #383d41;
}
.logo_box{
    position: absolute;
    padding-left: 14px;
    left: 0;
    top: 0;
}
.logo_box img{
    display: block;
    width: 82.5px;
    height: 20px;
    position: relative;
    margin-top: 15px;
    cursor: pointer;
    /*    overflow: hidden;
*/
}
.tip_box{
    width: 49px;
    height: 21px;
    position: absolute;
    top: 14.5px;
    right:90px;
}
.tip_box img{
    width: 49px;
    height: 21px;
    display: block;
}
.right_icon{
    width: 100px;
    height: 50px;
    position: absolute;
    right: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.right_icon>div:nth-child(1){
    font-size: 22px;
}

.top_img1{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
}

.top_img2{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
}
