/* 我的内容模块css */
#adv-sweep-mine{
	position: absolute;
	top: 1.2rem;
	background-image: linear-gradient(to bottom,#ff0733,#de80ff, #00ebff);
	display: none;
}
.adv-sweep-mine-nav{
	width: 7.2rem;
}
.adv-sweep-mine-navLists div{
	font-size: 0.5rem;
	color: white;
/* 	width: 0.5rem;
	height: 0.5rem; */
	border: 0.01rem solid black;
	border-radius: 0.5rem;
	padding: 0.1rem;
	background-color: #00FFFF;
}
.adv-sweep-mine-navLists span{
	font-size: 0.2rem;
}
.adv-sweep-mine-nav-container{
	margin-top: 0.2rem;
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow-x: auto;
}
.adv-sweep-mine-nav-container::-webkit-scrollbar{
	display: none;
}
.adv-sweep-mine-navLists{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.adv-sweep-mine-locationList-container-list{
	border-top: 0.01px solid #a05252;
	align-items: center;
	padding-top: .25rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
	display: flex;
}
.adv-sweep-mine-locationList-container-list div{
	margin-right: .25rem;
}