/* 轮播图位置css */
.lb-container{
	padding-top: 1rem;
	background-color: #d52d2d;
}
.lb-show{
	width: 18.75rem;
	height: 7.28rem;
	margin: auto;
	overflow: hidden;
	border-radius: 0.5rem;
/* 	background-color: aqua; */
}
.lb-save{
	width: 60.49rem;
	height: 3rem;
	animation: lb 5s;
	animation-iteration-count: infinite;
	background-color: yellow;
}
.lb-save img{
	float: left;
	width: 18.8rem;
}
/* 轮播实现动画 */
@keyframes lb{
	0%{}
	40%{
		transform: translate(-18.8rem,0);
	}
	70%{
		transform: translate(-37.6rem,0);
	}
	100%{}
}