/* 第三行:导航栏区域 */
.nav{
	text-align: center;
}
.nav-container{
	width: 18.75rem;
	margin: auto;
	background-color: white;
	border-radius: 0.5rem;
}
.nav-container span{
	font-size: .38rem;
	color: #666;
}
.nav-page-top{
	display: flex;
	justify-content: space-around;
}
.nav-page-bottom{
	display: flex;
	justify-content: space-around;
}
.nav-container img{
	display: block;
	width: 100%;
}
.nav-page-top div{
	line-height: 0.3rem;
	padding: 0.2rem;
}
.nav-page-bottom div{
	line-height: 0.3rem;
	padding: 0.2rem;
}